.edit-task-form-container {
    padding-top: 3%;
    padding-right: 5%;

    .edit-task-form {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        div {
            margin: 5px 0;
            display: flex;
            // align-content: center;
            align-items: center;
            label {
                margin-right: 2%;
                margin-left: 4%;
            }
            label:first-child {
                margin-left: unset;
            }
            input[type="text"] {
                width: 100%;
                text-align: left;
            }

            input {
                text-align: center;
                border: 0;
                border-bottom: grey solid 1px;
                padding-bottom: 2px;
            }
        }

        .schedule-radio-group {
            display: flex;
            align-items: center;

            input {
                margin-right: 4%;
            }
        }
    }
}
